PORT=5000
MONGO_URI=your_mongodb_connection_string
TOKEN_SECRET_KEY=your_jwt_secret_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STORE_ID=your_sslcommerz_store_id
STORE_PASSWORD=your_sslcommerz_store_password
FRONTEND_URL=https://your-firebase-site.web.app
BACKEND_URL=https://your-vercel-app.vercel.app
IS_LIVE=false
